
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">List Survey</h4>
            <table class="table table-striped pagination1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>
                            Updated
                        </th>
                        <th>Object</th>
                        <th>Description</th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.listSurvey != null)
                        @foreach (var item in ViewBag.listSurvey)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>@item.Updated.ToString("dd/MM/yyyy")</td>
                                @if (item.Active)
                                {
                                    <td>Teacher</td>
                                }
                                else
                                {
                                    <td>Student</td>
                                }
                                <td>@item.Description</td>
                                <td>
                                    @if (item.Updated > DateTime.Now)
                                    {
                                        <button class="btn btn-gradient-danger btnDelAcc">
                                            <a asp-area="admin" asp-controller="survey" asp-action="del" asp-route-id="@item.Id">
                                                <i class="mdi mdi-account-remove"></i>
                                            </a>
                                        </button>
                                        <button class="btn btn-gradient-danger btnDelAcc">
                                            <a asp-area="admin" asp-controller="survey" asp-action="update" asp-route-id="@item.Id">
                                                <i class="mdi mdi-grease-pencil"></i>
                                            </a>
                                        </button>
                                    }
                                    <button class="btn btn-gradient-danger btnDelAcc">
                                        <a asp-area="admin" asp-controller="survey" asp-action="detail" asp-route-id="@item.Id">
                                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>
</div>

